*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font:18px/1.2 Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(0, 0, 0, 0.74);
}

.container{
    max-height: 95vh;
    margin: auto;
    width: 70%;
    overflow: hidden;
    background-color: rgba(0, 0, 255, 0.162);
}
.card{
    padding: 5px 10px;
    background-color: transparent;
    margin-top:10px; 
    
}
.card-title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    box-shadow: -2px 3px 5px white, 2px -2px 10px black; 
    font-size: 21px;
    text-shadow: -1px 2px 1px black, -1px -2px 3px black;

}
.card-body{
    margin:10px 10px;
    padding:10px;
    box-shadow: -2px 3px 5px white, 2px -2px 10px black; 
    
}

.input-field{
    display: flex;
    margin: 5px 0px;
}

.form-control{
    flex: 1;
    font-size: 18px;
    font-weight: bold;

    text-transform: capitalize;

}
.form-control:focus{
    color: black;
    box-shadow: 2px 2px 10px;
}

.btn{
    padding: 10px 0px;
    text-align: center;
    border: none; 
    width: 100%;
    margin-top: 10px;
    background-color:transparent;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: white;
    box-shadow: -2px 2px 10px black, 2px 2px 10px white;
    text-shadow: -1px 2px 1px black, -1px -2px 3px black;
    outline: none;
}

.result{
   color: white;
   text-align: center; 
   text-shadow: -1px 2px 1px black, -1px -2px 3px black;
}
.loader{
    height: 100px;
    clip-path: ellipse();
}
 #loader,#results{
    text-align: center;
    display: none;
} 


.alert{
    color: rgb(170, 21, 21);
    text-transform: lowercase;
    text-shadow: none;
    line-height: 1;
    font-size: 16px;
    padding: 10px;
}